@import "./../theme.css";

:root {
  --border-color: rgb(96, 96, 96);
}

html {
  overflow: hidden;
}

.div_schedule {
  box-sizing: border-box;
  flex-direction: column;
  padding: 0px 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(22, 21, 21);
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
}

.div_main {
  display: flex;
  background-color: rgb(83, 83, 83);
  box-sizing: border-box;
  max-height: 100vh;
  height: 100vh;
  margin-top: var(--topbar_height);
  margin-left: var(--sidebar_width);
  width: 100%;

  flex-direction: column;
}

.menu_burger_icon {
  padding: 10px;
  margin: 10px;
}

.menu_burger_icon:hover {
  cursor: pointer;
}

.today_button {
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(110, 110, 110);
  color: white;
  padding: 5px 10px;
  margin-left: 100px;
  font-size: smaller;
  border-radius: 5px;
  transition: .1s;
}
.today_button:hover {
  transform: none;
  background-color: rgb(11, 10, 29);
}

.schedule_topheader {
  display: flex;
  align-items: center;
  /* padding: 0px 20px; */
  /* margin-top: 10px; */
  height: 60px;
  width: 100%;
  background-color: rgb(39, 39, 39);
  border-bottom: solid 1px var(--border-color);
  box-sizing: border-box;
}

.schedule_dropdown {
  position: absolute;
  width: 150px;
  height: 50px;
  right: 20px;
  background-color: rgba(165, 42, 42, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule_topheader h1{
  font-size: 1.5rem;
}

.right_arrow {
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
}
.right_arrow:hover {
  cursor: pointer;
}

.left_arrow {
  padding: 5px;
  margin: 10px;
}
.left_arrow:hover {
  cursor: pointer;
}

.div_description {
  margin-left: 20px;
}

.schedule_content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--topbar_height) - 61px);
  background-color: rgb(39, 39, 39);
  box-sizing: border-box;
}

.schedule_left_sidebar {
  box-sizing: border-box;
  height: calc(100vh - var(--topbar_height) - 61px);
  min-width: 270px;
  width: 270px;
  
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid var(--border-color); */
  z-index: 99;

  overflow: hidden;
  /* flex-grow: 1; */
  transition: .3s;  
}

.collapse_sidebar {
  /* position: absolute;
  left: -199px; */
  /* opacity: 0; */
  /* visibility: collapse; */
  /* flex-basis: 0px; */
  min-width: 0;
  width: 5px;
  transform: translate(-200px);
  /* flex-grow: 0.0001; */
}

.left_sidebar_inner_div {
  box-sizing: border-box;
  margin-top: 70px;
  width: 270px;
  overflow-y: auto;
}

.schedule_large_calender {
  height: 100%;
  background-color: rgb(39, 39, 39);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  grid-template-rows: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  position: relative;
}

.calender_day_titles {
  max-height: 50px;
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid var(--border-color); */
  /* border-left: 1px solid var(--border-color); */
}

.schedule_day {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 4px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
}

.large_calender_date {
  padding: 3px;
  height: 20px;
  width: 20px;
}

.today_tooltip {
  /* position: relative; */
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px; 
  background-color: rgba(28, 29, 29, 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  /* left: -5px; */
  /* padding: 5px; */
}

.today_tooltip .today_tooltip_text {
  visibility: hidden;
  /* width: auto; */
  background-color: rgb(50, 46, 46);
  color: white;
  /* text-align: center; */
  /* padding: 5px 8px; */
  position: absolute;
  
  /* z-index: 99; */
  bottom: 130%;
  /* left: -50%; */
}

.today_tooltip_text {
  position: absolute;
  display: block;
  bottom: 130%;
  left: -50%;
  padding: 5px 8px;
  text-align: center;
  border-radius: 3px;
}

.today_tooltip .todaY_tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.today_tooltip:hover .today_tooltip_text {
  visibility: visible;
}

.large_calender_bubbles_wrapper {
  display: flex;
  flex-direction: row;
}

.large_calender_today {
  display: flex;
  background-color: rgb(8, 107, 188);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: white;
}

.lighter_date_color {
  color: rgb(116, 116, 116);
}

.calender_animation {
  animation: fadeIn .5s cubic-bezier(.17,.67,.16,1.02);
}

@keyframes fadeIn {
  0% { 
    opacity: 0.3; 
    right: 50px;
  }
  100% { 
    opacity: 1; 
    right: 0px;
  }
}


.mini_calender {
  box-sizing: border-box;
  background-color: rgba(58, 58, 58, 0);
  height: 200px;
  display: grid;
  padding: 10px 10px;
  /* margin: 0px 10px; */
  margin: auto;
  grid-template-columns: repeat(7, 1fr);
}
.mini_calender_title {
  padding: 5px 10px;
  margin: 0px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mini_calender_today {
  /* height: 20px;
  width: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(4, 58, 158);
  border-radius: 50%; */
}

.mini_schedule_focus_date {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 58, 158);
  border-radius: 50%;
}

.mini_arrows {
  display: flex;
  flex-direction: row;
}

.mini_left_arrow:hover {
  cursor: pointer;
}

.mini_right_arrow:hover {
  cursor: pointer;
}

.mini_calender_day_titles {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.mini_schedule_day {
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;
  align-items: center;
}


.calender_accordion {
  margin: 10px 20px;
  padding: 10px 10px;
  /* background-color: aqua; */
  border-radius: 10px;
}

.calender_accordion:hover {
  cursor: pointer;
}

.calender_accordion:after {
  content: '-';
  float: right;
}

.calender_accordion:hover {
  background-color: rgb(57, 57, 57);
}

.calender_accordion_dropdown {
  margin: 0px 20px;
  padding: 0px 10px;
}

.checkbox_div_container {
  margin-bottom: 10px;
}

.create_div {
  position: absolute;
  left: 100px;
  top: 110px;
  background-color: rgb(57, 57, 57);
  border: solid rgba(255, 255, 255, 0.126) 2px;
  height: 50px;
  width: 120px;
  z-index: 999999;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  transition: all .3s ease;
}

.create_div:hover {
  cursor: pointer;
  background-color: rgb(32, 32, 32);;
}

.create_description {
  display: block;
  margin: 10px;
}

.create_description_transition {
  margin: 0px;
}

.create_dropdown {
  position: absolute;
  top: 100%;
  left: 10px;
  min-width: 100px;
  /* width: 200px;
  height: 60px; */
  padding: 5px 5px;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  display: flex;
  flex-direction: column;

}

.create_dropdown_options {
  padding: 5px;
  border-radius: 10px;
}

.create_dropdown_options:hover {
  background-color: rgb(33, 33, 33);
}

.create_dropdown_collapse {
  display: none;
}

.add_icon_transition {
  /* display: none;
  padding: 0; */
  width: 50px;
}



.name_bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  color: white;
  font-size: 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1px;
  user-select: none;
}

.name_bubbles:hover {
  cursor: pointer;
}






