input {
  outline: none;
  box-shadow: none;
  border: none;
  transform: none;
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  // margin: 5px 0px;
  box-sizing: border-box;
  border: 3px solid rgb(62, 62, 62);
  font-size: large;
  width: 100%;
}

input:focus {
  outline: none;
  border: 3px solid white;
}

input:invalid:focus {
  border-color: rgb(177, 0, 0);
}

.input_wrapper_div {
  padding: 5px 0;
}

button {
  border-radius: 5px;
  transform: none;
  box-sizing: border-box;
  background-color: rgb(75, 89, 130);
  color: white;
  margin: 5px 0;
  box-shadow: none;
  font-size: small;
}

button:focus {
  outline-color: white;
}

button:hover {
  transform: none;
}

.login_page {
  height: 100%;
  width: 100%;
  background-color: bisque;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0px 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(36, 36, 36);
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.login_page_inner_wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  // height: 300px;
  background-color: rgba(8, 8, 8, 0);
}

.login_page_inner_wrapper h1 {
  text-align: center;
}

.p_forgot_password {
  color: rgb(93, 130, 200);
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: small;
  text-align: end;
}

.p_forgot_password:hover {
  cursor: pointer;
}

.p_create_an_account, .p_resend_code, .p_go_back_to_confirm_email{
  color: rgb(93, 130, 200);
  font-size: small;
  text-align: end;
}

.p_create_an_account:hover, .p_resend_code:hover, .p_go_back_to_confirm_email:hover {
  cursor: pointer;
}

.p_create_an_account_h2 {
  text-align: center;
}

.div_p_login_wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5px;
}

.go_back_to_sign_in {
  color: rgb(93, 130, 200);
  margin: 0;
  margin-bottom: 5px;
}

.go_back_to_sign_in:hover {
  cursor: pointer;
}

.incorrect_login_info {
  color: rgb(198, 0, 0);
  margin: 0;
  visibility: show;
}

.incorrect_create_info {
  color: rgb(198, 0, 0);
  margin: 0;
  visibility: show;
}

.loader {
  border: 2px solid #434343;
  border-top: 2px solid #b6b9ba;
  border-right: 3px solid #b6b9ba;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login_button, .create_account_button{
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

}

.password_div_wrapper {
  position: relative;
  width: 100%;
  input {
   width: 100%; 
  }
  .create_account_password_tooltip {
    background-color: rgb(0, 16, 11);
    position: absolute;
    padding: 10px;
    left: 0;
    top: calc(100% + 10px);
    z-index: 999999;
    border: 1px solid white;
    visibility: visible;
  }
  .hide_create_account_password_tooltip {
    visibility: hidden;
  }
  .create_account_password_tooltip:after {
    content: '';
    position: absolute;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background-color: rgb(9, 5, 0);
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    left: 20px;
    top: -6px;
    z-index: 9999999;
  }
}


.incorrect_code {
  color: red;
  margin: 0;
}