@import "./../theme.css";

.sidebar {
  box-sizing: border-box;
  margin-top: var(--topbar_height);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar_width);
  background-color: rgb(37, 36, 36);
  z-index: 2;
}

.sidebar img {
  width: 100%;
  padding: 15px 0px;
  /* filter: invert(70%) */
}

.sidebar .selected {
  box-sizing: border-box;
  border-left: solid 5px rgb(219, 219, 219);
  border-right: solid 5px rgba(219, 219, 219, 0);
  /* border-radius: 10px; */
}


.option_focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.sidebar img:hover {
  background-color: rgb(83, 130, 177);
}

.sidebar .option_focus:hover {
  background-color: rgb(83, 130, 177);
}