.dropdown_div {
  width: 150px;
  height: 35px;
  background-color: rgb(35, 36, 36);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px;
  border: 1px solid rgb(77, 77, 77);
  box-sizing: border-box;
  border-radius: 5px;
  transition: 200ms ease;
  transition: all 200ms;
}

.dropdown_div:hover {
  background-color: rgb(18, 19, 19);
  cursor: pointer;
}

.dropdown_div::after {
  content: '-';
  padding: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}

.dropdown_options_super {
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 99999999;
  box-sizing: border-box;
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
  display: block;
}

.dropdown_nonvisible {
  display: none;
}

.dropdown_option {
  width: 150px; 
  height: 25px;
  background-color: rgb(35, 36, 36);
  box-sizing: border-box;
  padding: 5px;
}

.dropdown_option:hover {
  background-color: rgb(0, 0, 0);
}











