@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

:root {
  --sidebar_width: 70px;
  --topbar_height: 30px;
  --main_background_color: rgb(39, 39, 39);
  --main_background_color_darker1: rgb(30, 30, 30);
  --main_background_color_lighter1: rgb(45, 45, 45);
}

[data-theme='light'] {
  --main_background_color: rgb(182, 182, 182);
  --main_background_color_darker1: rgb(143, 143, 143);
  --main_background_color_lighter1: rgb(228, 228, 228);
}
